#showButton > img {
  width: fit-content;
}

#showButton {
  width: 5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

#showButton.active {
  transform: rotate(0deg);
}